@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-Regular.ttf");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-Bold.ttf");
  font-weight: bold;
}

:root {
  --color-bg: #1f1b4b;

  --color-neon-pink: #ff006e;
  --color-neon-cyan: #00e5ff;
  --color-neon-green: #b7ff00;

  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.2);
}

body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  background: var(--color-bg);
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes timer {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
